/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [movie_id]
      ,[budget]
      ,[original_language]
      ,[popularity]
      ,[release_date]
      ,[runtime]
      ,[runtime_cat]
      ,[revenue]
      ,[sw_lang_en]
      ,[sw_web_presence]
      ,[sw_has_poster]
      ,[sw_tagline]
      ,[keyword_cnt]
      ,[release_year]
      ,[release_month]
      ,[high_release_month]
      ,[release_day]
      ,[seasonality]
      ,[sw_collection]
      ,[producers_cnt]
      ,[countries_cnt]
      ,[lang_US]
      ,[lang_FR]
      ,[lang_RU]
      ,[lang_ES]
      ,[lang_JA]
      ,[keywords_cnt]
      ,[actor0_movies_cnt]
      ,[actor0_movies_5y_cnt]
      ,[actor1_movies_cnt]
      ,[actor1_movies_5y_cnt]
      ,[actor2_movies_cnt]
      ,[actor2_movies_5y_cnt]
      ,[sw_female_actor0]
      ,[sw_female_actor1]
      ,[sw_female_actor2]
      ,[sw_male_actor0]
      ,[sw_male_actor1]
      ,[sw_male_actor2]
      ,[actor0_prev_revenue]
      ,[actor1_prev_revenue]
      ,[actor2_prev_revenue]
      ,[director_movies_cnt]
      ,[director_movies_5y_cnt]
      ,[genre_adventure]
      ,[genre_fantasy]
      ,[genre_animation]
      ,[genre_drama]
      ,[genre_horror]
      ,[genre_action]
      ,[genre_comedy]
      ,[genre_history]
      ,[genre_western]
      ,[genre_thriller]
      ,[genre_crime]
      ,[genre_documentary]
      ,[genre_science_fiction]
      ,[genre_mystery]
      ,[genre_music]
      ,[genre_romance]
      ,[genre_family]
      ,[genre_war]
      ,[genre_foreign]
      ,[depart_Art]
      ,[depart_Camera]
      ,[depart_Crew]
      ,[depart_Custom_Mkup]
      ,[depart_Directing]
      ,[depart_Editing]
      ,[depart_Lighting]
      ,[depart_Production]
      ,[depart_Sound]
      ,[depart_Visual_Effects]
      ,[depart_Writing]
      ,[depart_Art_female]
      ,[depart_Camera_female]
      ,[depart_Crew_female]
      ,[depart_Custom_Mkup_female]
      ,[depart_Directing_female]
      ,[depart_Editing_female]
      ,[depart_Lighting_female]
      ,[depart_Production_female]
      ,[depart_Sound_female]
      ,[depart_Visual_Effects_female]
      ,[depart_Writing_female]
  FROM [BoxOffice].[dbo].[movies_ff_v]

  use BoxOffice

  select count (*)
  from dbo.movies_ff_v

   select top 10 *
  from dbo.movies_ff_v
order by movie_id desc